.container {
    height: 100%;
    --gap-space: 8px;
}

.quickLocate {
    position: absolute;
    top: 45px;
    right: 270px;
    padding: var(--gap-space);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: #00000060 2px 2px 8px;
}

.drawTool {
    position: absolute;
    top: 45px;
    right: var(--gap-space);
    padding: var(--gap-space);
    background-color: #fff;
    border-radius: 5px;
    z-index: 5;
    box-shadow: #00000060 2px 2px 8px;
}

.operate {
    display: flex;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
