.container {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.videos {
    position: relative;
    background-color: #eee;
    display: flex;
    height: 100%;
    overflow: hidden;
}
